@mixin flex($direction:row,$justify:center,$align:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.flex_start_row {
  display: flex;
  align-items: center;
}
.flex_start_row_wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex_center_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center_row_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_center_row_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex_center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_center_column_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex_center_column_start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex_start_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex_end_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flex_between_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex_between_row_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex_between_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex_between_column_start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-line;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}