.bold {
  font-weight: bold;
}

.Medium {
  font-weight: 500;
}

.text_14_black {
  font-size: 14px;
  color: #212224;
}

.text_16_black {
  font-size: 16px;
  color: #212224;
}

.text_14_white {
  font-size: 14px;
  color: #fff;
}

.text_16_white {
  font-size: 16px;
  color: #fff;
}

.text_14_blue {
  font-size: 14px;
  color: #4350ff;
}

.text_16_blue {
  font-size: 16px;
  color: #4350ff;
}

.text_14_red {
  font-size: 14px;
  color: #f91641;
}

.text_16_red {
  font-size: 16px;
  color: #f91641;
}

.text_14_grey {
  font-size: 14px;
  color: #535050;
}

.text_16_grey {
  font-size: 16px;
  color: #535050;
}

.text_14_light {
  font-size: 14px;
  color: #a8a8b6;
}

.text_16_light {
  font-size: 16px;
  color: #a8a8b6;
}